body {
	background-color: #cce0bb;
}
.navbar {
	text-align: center;
	background-color: #4f7417;
	color: #3c2a1c;
}
.col-md-6 {
	border: 45px solid transparent;
	border-image: url("../images/christmas_lights.jpg") 45 45 repeat;
	/*border: 10px dotted #9c0224;*/
	height: 400px;
	margin-top: 30px;
	text-align: center;
}
#firstP {
	margin-top: 40px;
}
p {
	color: #3c2a1c;
	margin: 20px;
	font-weight: bold;
}
#blankSpaces {
	margin-top: 40px;
	letter-spacing: 10px;
}

#ornament_kitten {
	margin-top: 20px;
	border-radius: 50%;
}

/* link to cute css christmas lights: https://codepen.io/chrisdoble/pen/ZbmOXO */